<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/styles/main.css"/>

</head>

<header th:replace="~{layout :: page_header}">
</header>
<body>
<div layout:fragment="content">
    <h2>Change Password</h2>

    <form method="post" action="/change-password">
        <input type="password" name="currentPassword" placeholder="Current Password" required><br>
        <input type="password" name="newPassword" placeholder="New Password" required><br>
        <input type="password" name="confirmNewPassword" placeholder="Confirm New Password" required><br>
        <button type="submit">Change Password</button>
    </form>

    <p th:if="${error}" style="color:red" th:text="${error}"></p>
    <p th:if="${success}" style="color:green" th:text="${success}"></p>
</div>
</body>
<footer th:replace="~{layout :: page_footer}">
</footer>
</html>
