<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to MovieApp</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div layout:fragment="content">
    <p th:if="${session.user == null}">
        Please login</p>
<div th:if="${session.user != null}">
    <p>Hello, <span th:text="${session.user.name}">User</span></p>
</div>

<p th:if="${session.user != null and session.user.role == 'ADMIN'}">
    <a href="/users"><button>Go to Users</button></a>
</p>

<hr>
</div>
</body>
</html>