<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div layout:fragment="content">
<h2>Admin Panel</h2>
<ul>
    <li><a href="/admin/logs">View Logs</a></li>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/movies">Manage Movies</a></li>
</ul>
<a href="/">Back to Home</a>
</div>
</body>
</html>